@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Special Gothic Expanded One", sans-serif;
  /* font-family: "Space Mono", monospace; */
  /* font-family: "Nanum Pen Script", cursive; */

  color: #1e1e1e;
}

html,
body,
a,
button,
input,
textarea,
select,
ul,
li,
*:hover {
  cursor: url(./img/booby\ feet.png) 4 4, auto;
}

html,
body {
  overflow-x: hidden;
  /* 가로스크롤을 모바일에서 막아주는 속성 -> 스타일링 완료후 마지막 설정 */
}

body {
  cursor: url(./img/booby\ feet.png) 4 4, auto;
  background-color: #1e1e1e;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul,
li,
input {
  list-style: none;
  color: inherit;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-family: "Space Mono", monospace;
}

.header_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd54f;
  border-bottom: 4px solid #1e1e1e;
  position: absolute;
  width: 100%;

  z-index: 9;
}

/* header scroll event */
.header_area.scrollEvent {
  position: fixed;
  height: auto;

  animation: headerscroll 0.3s linear;
}

@keyframes headerscroll {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

/* -------------------------------------- */

.header_area .menu,
.header_area .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 12px 30px;
  background-color: #fff1df;
  gap: 25px;
}

.header_area .menu {
  border-right: 4px solid #1e1e1e;
}

.header_area .booby {
  height: 35px;
}

.header_area .icons {
  border-left: 4px solid #1e1e1e;
}

.header_area .logo {
  height: 75px;
  padding: 12px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  color: #fff;
  height: 100vh;
}

.main_text {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* ---------- 텍스트 주변 데코레이션 --------- */

.main_text .wave_line {
  position: absolute;
  width: 78px;
  height: 83px;
  top: -50px;
  left: -100px;
}

.wave_line path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: waveLoop 3s ease-in-out infinite;
}

@keyframes waveLoop {
  0% {
    stroke-dashoffset: 500;
  }
  50% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -500;
  }
}

.deco_arrow {
  position: absolute;
  width: 113px;
  left: 0;
  top: 320px;
  left: 50px;
  animation: arrow 2s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0px);
  }
}
.braces_deco {
  position: absolute;
  right: -100px;
  top: 150px;
  animation: braces 1s ease-in-out infinite;
}

@keyframes braces {
  0% {
    transform: translateY(0px);
  }

  70% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.asterisk_deco {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: asteriskRotate 3s ease-in-out infinite;
}

@keyframes asteriskRotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* --------------------------------------- */

.main_banner h1 {
  font-size: 12rem;
  line-height: 12rem;
  text-transform: uppercase;
  color: #fff;
}

.main_banner h1:last-child {
  color: #ffd54f;
}

.main_banner h1 span {
  background-color: #ffd54f;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  bottom: 120px;
  left: 90px;
  border-radius: 20px;
  animation: eyes 1s ease-in-out infinite;
}

@keyframes eyes {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0);
  }
  30% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }
  60% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

.main_text .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_text .feet {
  width: 154px;
  position: absolute;
  bottom: -20px;
  left: 215px;
}

.main_banner .hashtags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.hashtags p {
  border: 1px solid #ffd54f;
  font-size: 24px;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
}

.hashtags p:hover {
  box-shadow: 0px 0px 10px 5px hsl(358, 71%, 48%, 0.3);
}

/* -----------sub_menu----------- */

.sub_menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: fixed;

  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  z-index: 99;
}

.sub_menu.show {
  opacity: 1;
  pointer-events: auto;
}

.menu_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd54f;
  border-bottom: 4px solid #1e1e1e;
  position: absolute;
  width: 100%;
  position: relative;
}

.menu_top .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu_top .menu,
.menu_top .icons {
  background-color: #d2232a;
}

.menu_bottom {
  background-color: #fff1df;
  height: 100vh;
}

.menu_bottom .submenu_text {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 70px;
  padding-left: 100px;
  padding-right: 100px;
}

.menu_bottom .submenu_text li:hover {
  color: #d2232a;
}

.menu_bottom .submenu_text li {
  border-bottom: 1px solid #d2232a;
  margin-bottom: 40px;
  transition: 0.3s;
}

/* -----------intro section----------- */

.intro {
  display: flex;
  justify-content: space-between;
  background-color: #ffd54f;
  padding: 0px 100px;
}

.text_area {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: 40px;
  padding-top: 120px;
}
.intro .text_area {
  padding-bottom: 400px;
}

.intro .text_area h1 {
  font-size: 115px;
  text-transform: uppercase;
  color: #d2232a;
  padding-bottom: 40px;
}

.intro .text_area h2 {
  text-transform: uppercase;
}

.intro .text_area p {
  color: #1e1e1e;
  width: 842px;
}

.intro .text_area svg {
  width: 160px;
  height: 160px;
}

.photos {
  position: relative;
  width: 45%;
  padding-top: 40px;
  padding-bottom: 400px;
}

.picture {
  position: absolute;
}

.pic1 {
  padding-top: 103px;

  top: 0;
  left: 0;
}

.pic1 .deco {
  width: 255px;
  height: 333px;
  position: absolute;
  top: 0;
  left: 0;
}

.pic2 {
  padding-top: 480px;
  right: 0;
}

.pic2 .deco {
  width: 130px;
  height: 250px;
  position: absolute;
  right: 0;
  top: 300px;
}

.pic3 {
  padding-top: 824px;
}

.pic3 .deco {
  width: 215px;
  height: 64px;
  position: absolute;
  right: -50px;
  bottom: 100px;
}

/* -----------content section----------- */
.contents {
  background-color: #1e1e1e;
}

.contents .deco_text {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 100 !important;
  text-transform: uppercase;
  font-size: 26px;
  background: #7a9e3c;
  background: linear-gradient(
    140deg,
    rgba(122, 158, 60, 1) 0%,
    rgba(255, 213, 79, 1) 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags_long {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;

  width: 100%; /* 부모 너비만큼만 보여지게 */
}

.tags_long svg {
  width: 4800px;
  position: absolute;
  will-change: transform;
}

svg.top {
  top: 0;
  animation: scroll-left 30s linear infinite;
  transform: rotate(2deg);
}

svg.bottom {
  bottom: -100px;
  animation: scroll-right 30s linear infinite;
  transform: rotate(-1.5deg);
}

/* 왼쪽으로 흐르게 */
@keyframes scroll-left {
  0% {
    transform: rotate(2deg) translateX(0);
  }
  100% {
    transform: rotate(2deg) translateX(-2400px); /* 절반만큼만 이동시켜 반복 */
  }
}

/* 오른쪽으로 흐르게 */
@keyframes scroll-right {
  0% {
    transform: rotate(-1.5deg) translateX(-2400px);
  }
  100% {
    transform: rotate(-1.5deg) translateX(0);
  }
}

.tag_left {
  position: absolute;
  width: 100px;
  height: 427px;
  left: 0;
  margin-top: 100px;
}

.text_area {
  width: 1080px;
  margin: 0 auto;
}

.contents .text_area svg {
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.text_area h1 {
  font-size: 70px;
  color: #ffd54f;
  padding-bottom: 0;
  text-transform: uppercase;
}

.text_area p {
  color: #fff;
}

.content_sec01 {
  display: flex;
  justify-content: end;
  position: relative;
  width: 100%;
  height: 250px;
}

.content_sec01 .wave_arrow01 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: end;
  padding-right: 560px;
  padding-top: 350px;
}

.content_sec01 .wave_arrow01 .line {
  width: 562px;
  height: 398px;
}

.content_sec01 .wave_arrow01 .head {
  width: 29px;
  height: 23px;
  position: relative;
  left: 23px;
}

.arrow-line {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: draw 3s ease forwards;
}

.arrow-head {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 1s ease forwards;
  animation-delay: 1s; /* 라인 그린 후 실행 */
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.draw-line {
  stroke-dasharray: 1600; /* 이 값은 길이에 따라 조절 가능 */
  stroke-dashoffset: 1600;
  animation: draw 2s ease forwards;
}

.content_sec01 .frame1 {
  width: 230px;
  height: 350px;
  transform: rotate(12.86deg);
  position: absolute;
}

.content_sec01 .frame2 {
  width: 185px;
  height: 278px;
  transform: rotate(-7.7deg);
  right: 200px;
  position: absolute;
}

.content_sec01 .deco_text {
  position: absolute;
  right: 300px;
  bottom: -100px;
}

.content_sec01 .booby_star {
  width: 248px;
  height: 267px;
  right: 100px;
  bottom: -370px;
  position: absolute;
}

.content_sec01 .deco_line01 {
  width: 74px;
  height: 94px;
  position: absolute;
  right: 50px;
  bottom: -350px;
}

.content_sec02 {
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
}

.content_sec02 .wallet {
  width: 400px;
  height: 300px;
  position: absolute;
}

.content_sec02 .wallet1 {
  transform: rotate(-25deg);
  left: 150px;
}

.content_sec02 .wallet2 {
  transform: rotate(-12deg);
  left: 380px;
  top: 80px;
}

.content_sec02 .wallet3 {
  transform: rotate(25deg);
  left: 470px;
  top: 300px;
}

.content_sec02 .coin1 {
  width: 142px;
  height: 142px;
  position: absolute;
  bottom: 360px;
  left: 300px;
}

.content_sec02 .coin2 {
  width: 109px;
  height: 109px;
  position: absolute;
  bottom: 480px;
  left: 160px;
}
.content_sec02 .coin3 {
  width: 78px;
  height: 78px;
  position: absolute;
  bottom: 430px;
  left: 100px;
}

.content_sec02 .frame3 {
  width: 215px;
  height: 324px;
  position: absolute;
  bottom: 50px;
  left: 80px;
  transform: rotate(-7.6deg);
}

.content_sec02 .wave_arrow02 {
  width: 445px;
  height: 391px;
  position: absolute;
  bottom: 0;
  left: 380px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.content_sec02 .wave_arrow02 .head {
  width: 22px;
  height: 14px;
  position: relative;
  right: 47px;
}

.content_sec02 .deco_text {
  bottom: 50px;
  position: absolute;
  left: 420px;
}

.content_sec03 {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content_sec03 .deco_line02 {
  width: 117px;
  height: 118px;
  position: absolute;
  top: 0;
  right: 545px;
}

.content_sec03 h1 {
  color: #ffd54f;
  font-size: 70px;
  text-transform: uppercase;
}

.content_sec03 .item_top,
.content_sec03 .item_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: relative;
  z-index: 1;
}

.background_circle01 {
  display: inline-block;
  width: 1363px;
  height: 1363px;
  background-color: #d2232a;
  border-radius: 50%;
  bottom: 400px;
  right: -848px;
  position: absolute;
  overflow: hidden;
}

.background_circle02 {
  display: inline-block;
  width: 909px;
  height: 909px;
  background-color: #d2232a;
  border-radius: 50%;
  bottom: 0px;
  left: -430px;
  position: absolute;
  overflow: hidden;
}

.content_sec03 .item_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  position: relative;
}

.content_sec03 .item_bottom h1 {
  text-align: right;
}

.content_sec03 .item_tee img {
  width: 496px;
  height: 690px;
}

.content_sec04 {
  position: relative;
  display: flex;
  margin-top: 350px;
  height: 736px;
  align-items: center;

  background: url(./img/colorBG.svg) no-repeat center / cover;
}

.content_sec04 .cup_box {
  display: flex;
}

.content_sec04 .cups {
  display: flex;
  padding-left: 100px;
  padding-top: 20px;
  gap: 65px;
  animation: cups 40s linear infinite;
}

.content_sec04 .cups .cup {
  transition: 0.3s;
}

.content_sec04 .cups .cup:hover {
  transform: scale(1.3);
}

@keyframes cups {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.content_sec04 .cup {
  width: 470px;
  height: 470px;
}

.content_sec04 .color_bg {
  width: 100%;
}

/* -----------history section----------- */
.history {
  background-color: #1e1e1e;
  padding-top: 200px;
}

.history .text_area {
  text-align: center;
  width: 1200px;
}

.history .map_area {
  display: flex;
  justify-content: space-between;
  padding: 200px 100px;
  gap: 80px;
}

.history .subtext_area {
  display: flex;
  flex-direction: column;
}

.history .subtext_area h2 {
  color: #fff;
  font-size: 50px;
}

.history .subtext_area .map_subtext {
  color: #fff;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.history .subtext_area svg {
  width: 20px;
  height: 20px;
}

.history .subtext_area .findbtn {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 260px;
  padding: 10px 20px;
  border: 3px solid #ffd54f;
  border-radius: 30px;
  text-transform: uppercase;
}

.history .subtext_area .findbtn:hover {
  box-shadow: 0px 0px 10px 5px hsl(358, 71%, 48%, 0.3);
}

.history .subtext_area .findbtn p {
  color: #fff;
  font-size: 24px;
}

/* -----------brand image section----------- */

.brand_img {
  background-color: #1e1e1e;
  padding-bottom: 150px;
}

.brand_img .content_box {
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow: hidden;
}

.brand_img .brand {
  height: 745px;
  width: calc((100% - 40px) / 3);
  overflow: hidden;
}

.brand_img .brand .img {
  width: 100%;
  height: 100%;
}
.brand_img .brand .img {
  transition: 0.3s;
  filter: grayscale(0.7);
}

.brand_img .brand .img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.brandimg1 .img {
  background: url(./img/chums_img01.webp) no-repeat center / cover;
}

.brandimg2 .img {
  background: url(./img/chums_img02.webp) no-repeat center / cover;
}
.brandimg3 .img {
  background: url(./img/chums_img03.webp) no-repeat center / cover;
}
.brandimg4 .img {
  background: url(./img/chums_img04.jpg) no-repeat left / cover;
  background-position: calc(50% + 300px) center;
}
.brandimg5 .img {
  background: url(./img/chums_img05.jpg) no-repeat center / cover;
  background-position: calc(50% + 200px) center;
}
.brandimg6 .img {
  background: url(./img/chums_img06.jpg) no-repeat center / cover;
}
.brandimg7 .img {
  background: url(./img/chums_img07.jpg) no-repeat center / cover;
}
.brandimg8 .img {
  background: url(./img/chums_img08.jpg) no-repeat center / cover;
}
.brandimg9 .img {
  background: url(./img/chums_img09.jpg) no-repeat center / cover;
}

/* -----------footer section----------- */

.footer {
  background-color: #d2232a;
}

.footer .footer_area {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 100px;
}

.footer_left h1 {
  font-size: 110px;
  color: #fff;
  text-transform: uppercase;
}

.footer_left h1:last-child {
  color: #ffd54f;
}

.footer_right {
  display: flex;
  flex-direction: column;
}

.footer_right .right_top {
  display: flex;
  color: #fff;

  gap: 150px;
}

.footer_right li {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  padding: 15px;
}

.right_top .mail_box {
  padding: 20px;
  background-color: #fff1df;
  width: 412px;
  border-radius: 10px;
  margin-top: 80px;
  font-size: 14px;
}

.info_right .box {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.info_right .mail_box .box svg {
  width: 30px;
  height: 19px;
  position: absolute;
  bottom: 11px;
  right: 10px;
  opacity: 0.6;
}

.info_right .mail_box .box input {
  margin-top: 20px;
  width: 372px;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  padding: 10px;
  opacity: 0.6;
}

.right_bottom p {
  font-size: 24px;
  color: #fff;
  padding-top: 180px;
}
